body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.error-message {
  color: red;
  font-size: 14px;
  display: none;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #666;
}

input {
  width: 90%;
  padding: 15px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  transition: background 0.3s, border-color 0.3s;
}

input:focus {
  background-color: #fff;
  border-color: #feb47b;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
}


.registerbtn {
  background-color: #ff7e5f;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.registerbtn:hover {
  background-color: #feb47b;
}
